<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguide">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SLO County Tour Guide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiningActivity"
            android:label="Dining"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".OutdoorsActivity"
            android:label="Outdoors"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ShoppingActivity"
            android:label="Shopping"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ArtActivity"
            android:label="Art"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>